body { 
  font-family: Georgia, serif;
  background-color: #afaeae;
  color: #111;
  margin: 40px;
  line-height: 1.6;
}
pre {
  background-color: #3270c0;
  padding: 1.5rem;
  border-radius: 10px;
  font-family: "Georgia", serif;
  font-size: 1.1rem;
  white-space: pre-wrap;
  line-height: 1.6;
}

h2 {
  font-size: 1rem;
  color: #020202;
  font-family: 'Georgia', serif;
  font-style: italic;
  margin-bottom: 20px;
  border-bottom: 2px solid #1e2f72;
  padding-bottom: 5px;
}

nav { 
  background-color: #222;
  padding: 10px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul li a {
  color: rgb(35, 129, 148);
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: underline;
}